# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Tensorflow

# table of Data Science tools

|Data Science Tools|
|------------------|
|Python|
|R|
|Sql|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
(200/60)

3.3333333333333335

 **Objectives**:

###### 3 to 5 items covered in this notebook are

* List popular languages for Data Science.
* commonly used libraries used by Data Scientists
* evaluating arithmetic expressions in Python
* Data Science tools

## Author

satvik